// Fonts
$font-family-body = "Menlo", "Meslo LG", monospace
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-family-tt = "Inconsolata", monospace
$font-size = 14px
$line-height = 1.8

// Colors
$color-background = #2C3E50
$color-link = #3498DB // vimeo: :selection with alpha=1
$color-text = #ECF0F1
$color-light = #ECF0F1
$color-lightest = #ECF0F1
$color-accent = #E74C3C
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow-night"
